@import 'bubble';
@import 'button';
@import 'card';
@import 'description-section';
@import 'footer';
@import 'navbar';
@import 'page-header';
@import 'register-box';
@import 'table';

.company-description-box {
  background-color: rgba($color: #0c8deb, $alpha: 0.05);
  p {
    font-size: 1em;
  }
}

.company-name {
  @include poppinsFont();
  font-size: 24px;
  font-weight: 500;
}

.company-address {
  @include poppinsFont();
  font-size: 18px;
  font-weight: 500;
}

@keyframes fade {
  0% {
    background: #ced4da;
  }
  50% {
    background: #e9ecef;
  }
  100% {
    background: #ced4da;
  }
}
