.page-header {
  padding: 25px;
  background-color: $blue;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 40px;
  &-title {
    color: white;
    font-size: 24px;
    @include poppinsFont();
  }
}
